/*  ==============   COLORS ARCHIVE  ==============   */
/* YELLOW */
/* GOLDEN */
/* PEACH */
/* ORANGE */
/* RED */
/* RED-LIGHT */
/* RED-BROWN */
/* PINK */
/* RED-PURPLE */
/* PINK-PURPLE */
/* PURPLE-LIGHT */
/* PURPLE-DARK */
/* PURPLE */
/* PURPLE-BLUE */
/* BLUE-PURPLE */
/* PURPLE-LIGHT-BLUE */
/* BLUE-GRAY */
/* BLUE */
/* BLUE-LIGHT */
/* BLUE-GREEN */
/* BLUE-NEON */
/* AQUAMARINE-LIGHT*/
/* AQUAMARINE-DARK */
/* AQUAMARINE */
/* GREEN-PALE */
/* GREEN-BOGGY */
/* GREEN-NEON*/
/* GREEN */
/* GREEN-DARK-YELLOW */
/* GREEN-YELLOW */
/* BROWN */
/* WHITE/GRAY/BLACK */
/* ============  OPTIONAL COLORS ============*/
/* THISTLE */
/* BURLYWOOD */
/* WHEAT */
/* LEMON */
/* HONEYDEW */
html {
  font-size: 14px; }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 1rem;
  color: #eaeaea;
  font-family: "PFDinDisplay", sans-serif; }

h1, h2, h3, h4, h5 {
  margin: 0 !important; }

a {
  color: inherit;
  text-decoration: none; }

.hide {
  display: none; }

@font-face {
  font-family: "PFDinDisplay";
  src: url("../font/PFDinDisplay.eot");
  src: url("../font/PFDinDisplay.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplay.woff") format("woff"), url("../font/PFDinDisplay.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

.mainContainer {
  width: 100%;
  height: 100%;
  background: url("../img/mobPort.jpg") center no-repeat;
  background-size: cover; }

.mainContainer a {
  color: inherit; }

.container {
  width: 98%;
  max-width: 1000px;
  height: 80%;
  /*
  background-color: rgba($colorGray79RGB, .7);
  box-shadow: 0 0 10px 5px rgba($colorGray79RGB, .8);*/
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column; }

.header {
  width: 35%;
  height: 20%;
  margin: 0 auto;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  -webkit-flex: 2;
          flex: 2;
  background: url("../img/MEGOGO_MainLogo_White.svg") center no-repeat;
  background-size: contain; }

.title {
  font-size: 1.3rem;
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  border-top: 1px solid #f2f2f2; }

.someInfo {
  width: 98%;
  height: auto;
  margin: 10px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column; }

.someInfo__wrapper {
  width: 100%;
  height: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
          justify-content: space-around; }

.someInfo__item {
  width: 50%;
  text-align: center; }

.someInfo__item-strong {
  color: #83bf0a; }

.buttonWrapper__link {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  -webkit-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.buttonWrapper__inner {
  cursor: pointer;
  width: 80%;
  height: auto;
  line-height: 40px;
  border-radius: 4px;
  background-color: rgba(159, 220, 15, 0.7);
  font-weight: normal;
  font-size: 22px !important;
  color: #ffffff;
  text-align: center;
  margin: 10px auto;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s; }

.buttonWrapper__inner:hover {
  -webkit-box-shadow: inset 0 0 8px 5px rgba(242, 242, 242, 0.7);
  box-shadow: inset 0 0 8px 5px rgba(242, 242, 242, 0.7);
  -webkit-transition: box-shadow .4s;
  -webkit-transition: -webkit-box-shadow .4s;
  transition: -webkit-box-shadow .4s;
  -o-transition: box-shadow .4s;
  transition: box-shadow .4s;
  transition: box-shadow .4s, -webkit-box-shadow .4s; }

.priceInfo {
  font-size: 22px !important;
  text-align: center; }

.button__no {
  font-weight: 600;
  text-align: center;
  display: block;
  vertical-align: middle;
  background-color: transparent;
  color: #9fe414;
  border: none;
  outline: none; }

.info {
  width: 100%;
  height: 20%;
  background-color: #272727;
  text-align: center;
  line-height: 85%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.hide__content {
  display: none; }

.info__text {
  font-family: Arial, send-serif !important;
  font-size: 10px !important; }

.someInfo__item-hide {
  display: none; }

p {
  -webkit-margin-after: .1em; }

.footer__text-block {
  margin-top: 2px; }

.biggerText {
  font-size: 1.3rem;
  color: inherit; }

@media screen and (min-device-width: 300px) and (max-device-width: 740px) and (orientation: landscape) {
  .mainContainer {
    background: url("../img/mobLand.jpg") top center no-repeat;
    background-size: cover; }
  .container {
    height: 74%; }
  .info {
    height: 26%; } }

@media screen and (min-width: 320px) and (orientation: portrait) {
  /*iPhone 5 portrait*/
  .header {
    width: 45%;
    -webkit-box-flex: .8;
    -webkit-flex: .8;
        -ms-flex: .8;
            flex: .8; }
  .someInfo {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
        -ms-flex: 3;
            flex: 3; }
  .someInfo__item {
    margin: 3px auto; }
  .buttonWrapper__inner {
    line-height: 30px; }
  br {
    display: none; }
  .secondTitle br {
    display: block; } }

@media all and (device-width: 320px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /*iPhone 5 landscape*/
  .mainContainer {
    background: url("../img/mobLand.jpg") top center no-repeat; }
  .header {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    -webkit-flex: 2;
            flex: 2; }
  .title {
    display: none; }
  .secondTitle {
    border-top: 1px solid #f2f2f2;
    font-size: 1.2rem;
    margin-bottom: 2px; }
  .info__needInfo {
    font-size: 1rem; }
  .someInfo__wrapper {
    display: none; }
  .someInfo__item {
    display: none; }
  .someInfo__wrapper-second {
    display: none; }
  .buttonWrapper__inner {
    width: 70%;
    margin-top: 0;
    margin-bottom: 3px; }
  .priceInfo {
    font-size: .9rem; }
  .info {
    margin-top: 3px;
    line-height: 90%; } }

@media screen and (min-width: 370px) and (orientation: portrait) {
  /*iPhone 6 portrait*/
  .title {
    margin-bottom: 30px; }
  .someInfo {
    margin-bottom: 30px; }
  br {
    display: block; } }

@media screen and (min-width: 410px) and (orientation: portrait) {
  .buttonWrapper__inner {
    line-height: 50px; } }

@media screen and (min-width: 667px) and (orientation: landscape) {
  /*iPhone 6 landscape*/
  .header {
    width: 40%;
    height: 15%; }
  .someInfo__item {
    margin: 5px auto; }
  br {
    display: block; } }

@media screen and (min-width: 414px) and (orientation: portrait) {
  /*iPhone 6 Plus portrait*/ }

@media screen and (min-width: 736px) and (orientation: landscape) {
  /*iPhone 6 Plus landscape*/ }

@media screen and (min-width: 768px) {
  /*iPad portrait*/
  .title {
    font-size: 1.8rem;
    padding-top: 5px;
    padding-bottom: 20px; }
  .header {
    width: 60%;
    height: 16%; }
  .info {
    width: 100%;
    margin-top: 15px; }
  .info__needInfo {
    font-size: 1.1rem; }
  .someInfo {
    width: 100%;
    height: auto; }
  .buttonWrapper {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    -webkit-flex: 3;
            flex: 3; }
  .buttonWrapper__inner {
    height: 50px;
    line-height: 50px;
    font-size: 1.5rem;
    margin: 15px auto; }
  .someInfo__wrapper {
    display: block; }
  .someInfo__wrapper-second {
    display: none; }
  .someInfo__item-hide {
    display: block; }
  .someInfo__item {
    width: 75%;
    text-align: center;
    margin: 10px auto;
    font-size: 1.5rem; }
  .someInfo__text {
    display: inline-block; }
  .priceInfo {
    font-size: 1.3rem; }
  p {
    -webkit-margin-after: .5em; } }

@media screen and (min-width: 760px) {
  /*iPad landscape*/
  /* $heightFooter: 20%;
  $heightContainer: 100% - $heightFooter;*/
  body {
    width: 100%; }
  .mainContainer {
    background: url("../img/desk.jpg") 20% top no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 15px;
    height: 88%; }
  .header {
    width: 52%;
    height: 18%; }
  .title {
    margin-bottom: 20px; }
  .biggerText {
    font-size: 1.4rem; }
  .someInfo__wrapper-second {
    display: none; }
  .someInfo__item {
    width: 65%;
    text-align: center;
    margin: 10px auto; }
  .someInfo__text {
    font-size: 1.2rem; }
  .buttonWrapper__inner {
    font-size: 1.5rem; }
  .button__no {
    margin-top: 10px; }
  .info {
    height: 12%;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3); } }

/* ============ SPECIAL MEDIA ============ */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  body {
    position: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .mainContainer {
    width: 568px;
    height: 232px; }
  .title {
    height: auto; }
  .someInfo {
    height: 1px; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (width: 667px) and (height: 375px) and (orientation: landscape) and (color: 8) and (device-aspect-ratio: 375 / 667) and (aspect-ratio: 667 / 375) and (device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2) {
  /* iPhone 6 ONLY (landscape) */
  body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .container {
    width: 667px;
    height: 275px; } }
