/*CSS конкретно для IE
Обнуляем в обязательном порядке все эффекты переворота,
для этого устанавливая значения по умалчанию
*/
@media screen and (min-width:0\0) {
	.panel:hover .back {
		transform: rotateY(0deg);
	}
	.panel:hover .front {
		transform: rotateY(180deg);
	}

	.panel, .front, .back {
		width: 100px;
		height: 100px;
	}


	.panel {
		perspective: 500px;
		transform-style: preserve-3d;
		transition: all 0.5s cubic-bezier(0.63, 0.63, 0.54, 1.62);
		position: relative;
	}

	.front, .back {
		backface-visibility: hidden;
		transition: all 0.5s cubic-bezier(0.63, 0.63, 0.54, 1.62);
		transform-style: preserve-3d;

		position: absolute;

	}

	.front {
		z-index: 2;
		transform: rotateY(0deg);
	}

	.back {
		transform: rotateY(-180deg);
	}

	img {
		height: 100px;
		width: 100px;
	}

	p {
		margin: 25px auto;
	}
}

