/*CSS конкретно для IE
Обнуляем в обязательном порядке все эффекты переворота,
для этого устанавливая значения по умалчанию
*/
@media screen and (min-width:0\0) {
	.panel {
		float: left;
		height: 100px;
		width: 100px;
		position: relative;
		margin: 10px 100px 10px 10px;
		transform-style: flat !important;
		transition:  all 0.5s ease-out;
	}

	.panel:hover {
		transform: none !important;
	}



	.side {
		background-position: center;
		height: 100%;
		width: 100%;
		position: absolute;
		border: 1px solid transparent;
		border-radius: 50%;
		text-align: center;
		backface-visibility: visible !important;
	}

	.back {
		background-color: lightgrey;
		height: 100%;
		width: 100%;
		position: absolute;
		border: 1px solid transparent;
		border-radius: 50%;
		display: none;
		text-align: center;
		transform: none !important;
		-ms-transform: none;
	}

	img {
		height: 100px;
		width: 100px;
	}

	p {
		margin: 25px auto;
	}
}

