body {
  margin: 0;
  box-sizing: border-box;
  cursor: pointer;
}

.panel,
.front,
.back {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.panel {
  float: left;
  height: 55px;
  width: 80px;
  position: relative;
  margin: 100px;
/*  transform: perspective(600px);
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;*/
}

.panel:hover .front {
  transform: rotateZ(360deg);

}

.panel:hover .back {

}

.back {
 top: 28px;
}

.front {
  z-index: 1;
  transform: rotateY(0deg);
}

.front,
.back {
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;

  -webkit-transition: all 0.5s cubic-bezier(0.63, 0.63, 0.54, 1.62);
  -moz-transition: all 0.5s cubic-bezier(0.63, 0.63, 0.54, 1.62);
  -o-transition: all 0.5s cubic-bezier(0.63, 0.63, 0.54, 1.62);
  transition: all 0.5s cubic-bezier(0.63, 0.63, 0.54, 1.62);
}
