html {
    font-size: 7px;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 2rem;
    color: #eaeaea;
}

@font-face {
    font-family: "PFDinDisplay";
    src: url("PFDinDisplay.eot");
    src: url("PFDinDisplay.eot?#iefix")format("embedded-opentype"),
    url("PFDinDisplay.woff") format("woff"),
    url("PFDinDisplay.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.mainContainer {
    width: 100%;
    height: 100%;
    background: url("bg.jpg") no-repeat center;
    background-size: cover;
}
.mainContainer a {
    color: inherit;
}
.mainContainer__color {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgba(25, 25, 25, 0.6);
}

.container {
    width: 50vw;
    max-width: 530px;
    height: 90vh;
    font-family: "PFDinDisplay";
}

.header {
    width: 365px;
    height: 75px;
    margin: 0 auto;
    background: url("MEGOGO_MainLogo_White.svg") no-repeat;
    background-size: contain;
}

.title h1 {
    height: 10vh;
    text-align: center;
    padding-top: 1vh;
    border-top: 1px solid;
    font-size: 3.7rem !important;
    margin-bottom: 0!important;
    margin-top: 0!important;

}

.media__container {
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.media__title {
    font-size: 2.1rem;
    display: flex;
    justify-content: space-between;
}
.media__title-container {
    width: 28%;
    text-align: center;
}
.media__title-container h2 {
    margin-bottom: 5px!important;
    transition: all .4s;
    border-bottom: 1px solid transparent;
}
.media__title-container h2:hover {
    transition: border .4s;
}
h2:after {
    display: block;
    content: "";
    height: 1px;
    margin-top: 2px;
    width: 0;
    background-color: #83bf0a;
    transition: width .3s ease-in-out;
}
h2:hover:after,
h2:focus:after {
    width: 100%;
}


.media__wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.media__content-left {
    width: 40%;
}
.media__content-right {
    width: 40%;
    margin-left: 15px;
}
.media__info-big {
    text-align: center;
    margin-top: 18px;
    font-size: 2.6rem;
}
.media__info-big strong {
    font-size: 3rem;
    color: #83bf0a;
}


.media__time {
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.media__time-title {
    flex: 2;
}
.media__time-title h3 {
    margin-bottom: 0!important;
    margin-top: 0!important;
}
.media__time-info {
    flex: 6;
    text-align: end;
}
.media__button-link {
    font-size: 2rem;
    color: #fff;
    width: 80%;
    height: 40px;
    border-radius: 4px;
    background-color: #83bf0a;
    font-weight: normal;
    line-height: 40px;
    text-align: center;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.media__button-link:hover {
    box-shadow: inset 0 0 20px 2px #ffffff;
    -webkit-transition: box-shadow .2s;
    -moz-transition: box-shadow .2s;
    -ms-transition: box-shadow .2s;
    -o-transition: box-shadow .2s;
    transition: box-shadow .2s;
}
.media__button-warning {
    font-size: 1.6rem;
}


.info {
    height: 28vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.info__need-help {
    display: flex;
    flex-direction: column;
}
.info__number {
    display: block;
    margin-top: 5px;
    font-size: 2.5rem;
}
.info__rules {
    font-size: 1.7rem;
    text-align: justify;
}
ol {
    -webkit-padding-start: 0 !important;
}
.info__link {
    text-align: center;
    color: #83bf0a;
}
a {
    text-decoration: none;
}



@media (max-width: 960px){
    .container {
        width: 80vw;
    }
    .media__time {
        display: none;
    }
}
@media (max-width: 540px){
    .container {
        width: 90vw;
    }
}
@media (max-width: 370px){
    .container {
        width: 96vw;
    }
    .header {
        width: 310px;
    }
    .media__container {
        height: 40vh;
    }
    .media__title-container h2 {
        margin-bottom: 0 !important;
        margin-top: 8px !important;
    }
    .media__title-container span {
        display: none;
    }
    .media__title {
        font-size: 2.5rem;
        flex-direction: column;
        justify-content: space-between;
    }
    .media__title-container {
        width: 89%;
        margin: 0 auto;
    }
    .info {
        height: 31vh;
        width: 95%;
        margin: 0 auto;
    }
    .info__rules {
        margin-left: 8px;
    }
    .info__link {
        margin-top: -10px;
    }
}
@media (max-width: 320px) {
    .container {
        width: 98vw;
        height: 94vh;
    }
    .header {
        width: 280px;
        height: 72px;
    }
    .title h1 {
        padding-top: .5vh;
    }
    .info {
        height: 36vh;
    }
}