@media screen and (min-width: 320px) and (orientation: portrait){ /*iPhone 5 portrait*/
  .header {
    width: 45%;
    flex: .5;
  }
  .someInfo {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
  }
  .someInfo__item {
    margin: 3px auto;
  }
  br {
    display: none;
  }

}
@media all and (device-width: 320px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2){ /*iPhone 5 landscape*/

  .mainContainer {
    background: url("../img/bg_special.jpg") no-repeat;
  }
  .header {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }
  .title {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }
  .info__needInfo {
    font-size: 1rem;
  }
  .someInfo__wrapper {
    display: none;
  }
  .someInfo__item {
    display: none;
  }
  .someInfo__wrapper-second {
    display: none;
  }
  .buttonWrapper__inner {
    margin-top: 0;
    margin-bottom: 3px;
  }
  .priceInfo {
    font-size: .9rem;
  }
  .info {
    margin-top: 5px;
    line-height: 90%;
  }
}

@media screen and (min-width: 370px) and (orientation: portrait){ /*iPhone 6 portrait*/
  .container
  .title {
    margin-bottom: 30px;
  }
  .someInfo {
    margin-bottom: 30px;
  }
  br {
    display: block;
  }
}

@media screen and (min-width: 667px) and (orientation: landscape){ /*iPhone 6 landscape*/
  .header {
    width: 40%;
    height: 15%;
  }
  .someInfo__item {
    margin: 5px auto;
  }
  br {
    display: block;
  }

}

@media screen and (min-width: 414px) and (orientation: portrait){ /*iPhone 6 Plus portrait*/
}

@media screen and (min-width: 736px) and (orientation: landscape){ /*iPhone 6 Plus landscape*/

}

@media screen and (min-width: 768px) { /*iPad portrait*/
  .title {
    font-size: 1.8rem;
    padding-top: 5px;
    padding-bottom: 20px;
  }
  .header {
    width: 60%;
    height: 16%;
  }
  .info {
    width: 100%;
    margin-top: 15px;
  }
  .info__needInfo {
    font-size: 1.1rem;
  }
  .someInfo {
    width: 100%;
    height: auto;
  }
  .buttonWrapper {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
  }
  .buttonWrapper__inner {
    height: 50px;
    line-height: 50px;
    font-size: 1.5rem;
    margin: 15px auto;
  }
  .someInfo__wrapper {
    display: block;
  }
  .someInfo__wrapper-second {
    display: none;
  }
  .someInfo__item-hide {
    display: block;
  }
  .someInfo__item {
    width: 75%;
    text-align: center;
    margin: 10px auto;
    font-size: 1.5rem;
  }
  .someInfo__text {
    display: inline-block;
  }
  .priceInfo {
    font-size: 1.3rem;
  }
  p {
    -webkit-margin-after: .5em;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape){  /*iPad landscape*/
  body {
    width: 100%;
  }
  .header {
    width: 52%;
    height: 18%;
  }
  .title {
    margin-bottom: 20px;
  }
  .someInfo {
    display: block;
  }

  .someInfo__wrapper-second {
    display: none;
  }
  .someInfo__item {
    width: 65%;
    text-align: center;
    margin: 10px auto;
  }
  .someInfo__text {
    font-size: 1.2rem;
  }
  .buttonWrapper__inner {
    font-size: 1.5rem;
  }
}

/* ============ SPECIAL MEDIA ============ */

@media (device-height : 568px)
and (device-width : 320px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation : landscape)
  /* IPhone 5 ONLY (landscape) */
{

  body
  {
    display: flex;

    align-items: center;
  }
  .mainContainer
  {
    width: 568px;
    height: 230px;
  }
}

@media only screen
and (min-device-width : 375px) // or 213.4375em or 3in or 9cm
and (max-device-width : 667px) // or 41.6875em
and (width : 667px) // or 41.6875em
and (height : 375px) // or 23.4375em
and (orientation : landscape)
and (color : 8)
and (device-aspect-ratio : 375/667)
and (aspect-ratio : 667/375)
and (device-pixel-ratio : 2)
and (-webkit-min-device-pixel-ratio : 2)
{
  /* iPhone 6 ONLY (landscape) */

  body
  {
    display: flex;

    align-items: center;
  }
  .container
  {
    width: 667px;
    height: 275px;
  }

}